PizzaOrdering/PizzaOrdering.Tests/bin/Debug/Antlr3.Runtime.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/Newtonsoft.Json.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/Newtonsoft.Json.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/PizzaOrdering.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/PizzaOrdering.pdb
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/PizzaOrdering.Tests.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/PizzaOrdering.Tests.dll.config
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/PizzaOrdering.Tests.pdb
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Net.Http.Formatting.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Net.Http.Formatting.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Helpers.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Helpers.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Http.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Http.WebHost.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Http.WebHost.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Http.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Mvc.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Mvc.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Optimization.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Razor.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Razor.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.Razor.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.Razor.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/WebGrease.dll
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/PizzaOrdering.Tests.csproj.FileListAbsolute.txt
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/PizzaOrdering.Tests.csprojResolveAssemblyReference.cache
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/PizzaOrdering.Tests.dll
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/PizzaOrdering.Tests.pdb
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PizzaOrdering/PizzaOrdering/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PizzaOrdering/PizzaOrdering/obj/Debug/PizzaOrdering.csproj.FileListAbsolute.txt
PizzaOrdering/PizzaOrdering/obj/Debug/PizzaOrdering.csprojResolveAssemblyReference.cache
PizzaOrdering/PizzaOrdering/obj/Debug/PizzaOrdering.dll
PizzaOrdering/PizzaOrdering/obj/Debug/PizzaOrdering.pdb
PizzaOrdering/PizzaOrdering/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PizzaOrdering/PizzaOrdering/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PizzaOrdering/PizzaOrdering/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PizzaOrdering/PizzaOrdering/bin/Antlr3.Runtime.dll
PizzaOrdering/PizzaOrdering/bin/EntityFramework.dll
PizzaOrdering/PizzaOrdering/bin/EntityFramework.xml
PizzaOrdering/PizzaOrdering/bin/Microsoft.Web.Infrastructure.dll
PizzaOrdering/PizzaOrdering/bin/Newtonsoft.Json.dll
PizzaOrdering/PizzaOrdering/bin/Newtonsoft.Json.xml
PizzaOrdering/PizzaOrdering/bin/PizzaOrdering.dll
PizzaOrdering/PizzaOrdering/bin/PizzaOrdering.pdb
PizzaOrdering/PizzaOrdering/bin/System.Net.Http.Formatting.dll
PizzaOrdering/PizzaOrdering/bin/System.Net.Http.Formatting.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.Http.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Http.WebHost.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Http.WebHost.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.Http.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.Mvc.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Mvc.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.Optimization.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Providers.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Razor.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Razor.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.Deployment.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.Deployment.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.Razor.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.Razor.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.xml
PizzaOrdering/PizzaOrdering/bin/WebGrease.dll
Landeeyo.Pizza.Authorization/bin/Debug/Landeeyo.Pizza.AuthorizationLayer.dll
Landeeyo.Pizza.Authorization/bin/Debug/Landeeyo.Pizza.AuthorizationLayer.pdb
Landeeyo.Pizza.Authorization/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Landeeyo.Pizza.Authorization/obj/Debug/Landeeyo.Pizza.Authorization.csproj.FileListAbsolute.txt
Landeeyo.Pizza.Authorization/obj/Debug/Landeeyo.Pizza.Authorization.csprojResolveAssemblyReference.cache
Landeeyo.Pizza.Authorization/obj/Debug/Landeeyo.Pizza.AuthorizationLayer.dll
Landeeyo.Pizza.Authorization/obj/Debug/Landeeyo.Pizza.AuthorizationLayer.pdb
Landeeyo.Pizza.Authorization/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Landeeyo.Pizza.Authorization/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Landeeyo.Pizza.Authorization/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Landeeyo.Pizza.DataAccess/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Landeeyo.Pizza.DataAccess/obj/Debug/Landeeyo.Pizza.DataAccess.csproj.FileListAbsolute.txt
Landeeyo.Pizza.DataAccess/obj/Debug/Landeeyo.Pizza.DataAccess.csprojResolveAssemblyReference.cache
Landeeyo.Pizza.DataAccess/obj/Debug/Landeeyo.Pizza.DataAccessLayer.dll
Landeeyo.Pizza.DataAccess/obj/Debug/Landeeyo.Pizza.DataAccessLayer.pdb
Landeeyo.Pizza.DataAccess/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Landeeyo.Pizza.DataAccess/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Landeeyo.Pizza.DataAccess/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Landeeyo.Pizza.DataAccess/bin/Debug/Landeeyo.Pizza.DataAccessLayer.dll
Landeeyo.Pizza.DataAccess/bin/Debug/Landeeyo.Pizza.DataAccessLayer.pdb
Landeeyo.Pizza.Test/bin/Debug/Landeeyo.Pizza.Test.dll
Landeeyo.Pizza.Test/bin/Debug/Landeeyo.Pizza.Test.pdb
Landeeyo.Pizza.Test/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Landeeyo.Pizza.Test/obj/Debug/Landeeyo.Pizza.Test.csproj.FileListAbsolute.txt
Landeeyo.Pizza.Test/obj/Debug/Landeeyo.Pizza.Test.dll
Landeeyo.Pizza.Test/obj/Debug/Landeeyo.Pizza.Test.pdb
Landeeyo.Pizza.Test/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Landeeyo.Pizza.Test/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Landeeyo.Pizza.Test/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Landeeyo.Pizza/bin/Antlr3.Runtime.dll
Landeeyo.Pizza/bin/EntityFramework.dll
Landeeyo.Pizza/bin/EntityFramework.xml
Landeeyo.Pizza/bin/Landeeyo.Pizza.dll
Landeeyo.Pizza/bin/Landeeyo.Pizza.pdb
Landeeyo.Pizza/bin/Microsoft.Web.Infrastructure.dll
Landeeyo.Pizza/bin/Newtonsoft.Json.dll
Landeeyo.Pizza/bin/Newtonsoft.Json.xml
Landeeyo.Pizza/bin/System.Net.Http.Formatting.dll
Landeeyo.Pizza/bin/System.Net.Http.Formatting.xml
Landeeyo.Pizza/bin/System.Web.Http.dll
Landeeyo.Pizza/bin/System.Web.Http.WebHost.dll
Landeeyo.Pizza/bin/System.Web.Http.WebHost.xml
Landeeyo.Pizza/bin/System.Web.Http.xml
Landeeyo.Pizza/bin/System.Web.Mvc.dll
Landeeyo.Pizza/bin/System.Web.Mvc.xml
Landeeyo.Pizza/bin/System.Web.Optimization.dll
Landeeyo.Pizza/bin/System.Web.Providers.dll
Landeeyo.Pizza/bin/System.Web.Razor.dll
Landeeyo.Pizza/bin/System.Web.Razor.xml
Landeeyo.Pizza/bin/System.Web.WebPages.Deployment.dll
Landeeyo.Pizza/bin/System.Web.WebPages.Deployment.xml
Landeeyo.Pizza/bin/System.Web.WebPages.dll
Landeeyo.Pizza/bin/System.Web.WebPages.Razor.dll
Landeeyo.Pizza/bin/System.Web.WebPages.Razor.xml
Landeeyo.Pizza/bin/System.Web.WebPages.xml
Landeeyo.Pizza/bin/WebGrease.dll
Landeeyo.Pizza/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Landeeyo.Pizza/obj/Debug/Landeeyo.Pizza.csproj.FileListAbsolute.txt
Landeeyo.Pizza/obj/Debug/Landeeyo.Pizza.csprojResolveAssemblyReference.cache
Landeeyo.Pizza/obj/Debug/Landeeyo.Pizza.dll
Landeeyo.Pizza/obj/Debug/Landeeyo.Pizza.pdb
Landeeyo.Pizza/obj/Debug/Landeeyo.Pizza.Presentation.csproj.FileListAbsolute.txt
Landeeyo.Pizza/obj/Debug/Landeeyo.Pizza.Presentation.csprojResolveAssemblyReference.cache
Landeeyo.Pizza/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Landeeyo.Pizza/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Landeeyo.Pizza/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Landeeyo.Pizza.AccountControl/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Landeeyo.Pizza.AccountControl/obj/Debug/Landeeyo.Pizza.AccountControl.csproj.FileListAbsolute.txt
Landeeyo.Pizza.AccountControl/obj/Debug/Landeeyo.Pizza.AccountControl.csprojResolveAssemblyReference.cache
Landeeyo.Pizza.AccountControl/obj/Debug/Landeeyo.Pizza.Authorization.csproj.FileListAbsolute.txt
Landeeyo.Pizza.AccountControl/obj/Debug/Landeeyo.Pizza.AuthorizationLayer.dll
Landeeyo.Pizza.AccountControl/obj/Debug/Landeeyo.Pizza.AuthorizationLayer.pdb
Landeeyo.Pizza.AccountControl/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Landeeyo.Pizza.AccountControl/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Landeeyo.Pizza.AccountControl/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Landeeyo.Pizza.AccountControl/bin/Debug/Landeeyo.Pizza.AuthorizationLayer.dll
Landeeyo.Pizza.AccountControl/bin/Debug/Landeeyo.Pizza.AuthorizationLayer.pdb
Landeeyo.Pizza.AccountControl/bin/Debug/Landeeyo.Pizza.Common.dll
Landeeyo.Pizza.AccountControl/bin/Debug/Landeeyo.Pizza.Common.pdb
Landeeyo.Pizza.Common/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Landeeyo.Pizza.Common/obj/Debug/Landeeyo.Pizza.Common.csproj.FileListAbsolute.txt
Landeeyo.Pizza.Common/obj/Debug/Landeeyo.Pizza.Common.dll
Landeeyo.Pizza.Common/obj/Debug/Landeeyo.Pizza.Common.pdb
Landeeyo.Pizza.Common/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Landeeyo.Pizza.Common/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Landeeyo.Pizza.Common/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Landeeyo.Pizza.Common/bin/Debug/Landeeyo.Pizza.Common.dll
Landeeyo.Pizza.Common/bin/Debug/Landeeyo.Pizza.Common.pdb
Landeeyo.Pizza.Test/bin/Debug/Landeeyo.Pizza.AuthorizationLayer.dll
Landeeyo.Pizza.Test/bin/Debug/Landeeyo.Pizza.AuthorizationLayer.pdb
Landeeyo.Pizza.Test/bin/Debug/Landeeyo.Pizza.Common.dll
Landeeyo.Pizza.Test/bin/Debug/Landeeyo.Pizza.Common.pdb
Landeeyo.Pizza.Test/bin/Debug/Moq.dll
Landeeyo.Pizza.Test/bin/Debug/Moq.xml
Landeeyo.Pizza.Test/bin/Debug/xunit.dll
Landeeyo.Pizza.Test/bin/Debug/xunit.xml
TestResults/Landeeyo.Pizza.TE.Tests.mdf
TestResults/Landeeyo.Pizza.TE.Tests_log.ldf
Landeeyo.Pizza.Test/obj/Debug/Landeeyo.Pizza.Test.csprojResolveAssemblyReference.cache
Landeeyo.Pizza.DataAccess/bin/Debug/Landeeyo.Pizza.Common.dll
Landeeyo.Pizza.DataAccess/bin/Debug/Landeeyo.Pizza.Common.pdb
Landeeyo.Pizza.AccountControl/bin/Debug/Landeeyo.Pizza.DataAccessLayer.dll
Landeeyo.Pizza.AccountControl/bin/Debug/Landeeyo.Pizza.DataAccessLayer.pdb
Landeeyo.Pizza.Test/bin/Debug/Landeeyo.Pizza.DataAccessLayer.dll
Landeeyo.Pizza.Test/bin/Debug/Landeeyo.Pizza.DataAccessLayer.pdb
Landeeyo.Pizza.Test/obj/Debug/Landeeyo.Pizza.Test.csprojResolveAssemblyReference.cache
