PizzaOrdering/PizzaOrdering.Tests/bin/Debug/Antlr3.Runtime.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/Newtonsoft.Json.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/Newtonsoft.Json.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/PizzaOrdering.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/PizzaOrdering.pdb
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/PizzaOrdering.Tests.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/PizzaOrdering.Tests.dll.config
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/PizzaOrdering.Tests.pdb
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Net.Http.Formatting.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Net.Http.Formatting.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Helpers.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Helpers.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Http.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Http.WebHost.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Http.WebHost.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Http.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Mvc.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Mvc.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Optimization.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Razor.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.Razor.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.Razor.dll
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.Razor.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/System.Web.WebPages.xml
PizzaOrdering/PizzaOrdering.Tests/bin/Debug/WebGrease.dll
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/PizzaOrdering.Tests.csproj.FileListAbsolute.txt
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/PizzaOrdering.Tests.csprojResolveAssemblyReference.cache
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/PizzaOrdering.Tests.dll
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/PizzaOrdering.Tests.pdb
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PizzaOrdering/PizzaOrdering.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PizzaOrdering/PizzaOrdering/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
PizzaOrdering/PizzaOrdering/obj/Debug/PizzaOrdering.csproj.FileListAbsolute.txt
PizzaOrdering/PizzaOrdering/obj/Debug/PizzaOrdering.csprojResolveAssemblyReference.cache
PizzaOrdering/PizzaOrdering/obj/Debug/PizzaOrdering.dll
PizzaOrdering/PizzaOrdering/obj/Debug/PizzaOrdering.pdb
PizzaOrdering/PizzaOrdering/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PizzaOrdering/PizzaOrdering/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PizzaOrdering/PizzaOrdering/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PizzaOrdering/PizzaOrdering/bin/Antlr3.Runtime.dll
PizzaOrdering/PizzaOrdering/bin/EntityFramework.dll
PizzaOrdering/PizzaOrdering/bin/EntityFramework.xml
PizzaOrdering/PizzaOrdering/bin/Microsoft.Web.Infrastructure.dll
PizzaOrdering/PizzaOrdering/bin/Newtonsoft.Json.dll
PizzaOrdering/PizzaOrdering/bin/Newtonsoft.Json.xml
PizzaOrdering/PizzaOrdering/bin/PizzaOrdering.dll
PizzaOrdering/PizzaOrdering/bin/PizzaOrdering.pdb
PizzaOrdering/PizzaOrdering/bin/System.Net.Http.Formatting.dll
PizzaOrdering/PizzaOrdering/bin/System.Net.Http.Formatting.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.Http.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Http.WebHost.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Http.WebHost.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.Http.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.Mvc.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Mvc.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.Optimization.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Providers.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Razor.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.Razor.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.Deployment.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.Deployment.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.Razor.dll
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.Razor.xml
PizzaOrdering/PizzaOrdering/bin/System.Web.WebPages.xml
PizzaOrdering/PizzaOrdering/bin/WebGrease.dll
